name: Deploy Docker Compose on Server

on:
  push:
    branches:
      - main  # Branche de production

jobs:
  deploy:
    runs-on: [self-hosted]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy with Docker Compose
        run: docker-compose up -d
